<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibip">
    <!-- PERMISOS PARA INTERNET, COMO VÍDEO -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".FragmentMaster.MainActivity"
            android:exported="true" />
        <activity
            android:name="ascreenDOS.MainDOS"
            android:exported="true" />
        <activity
            android:name="asMainMenu.MainMenu"
            android:exported="true" />
        <activity
            android:name=".CrearFragmento.MainActivity"
            android:exported="true" /> <!-- Aquí es para mostrar/ocultar el menú por "DayNight.DarkActionBar" -->
        <activity
            android:name=".PrimerTrimestre.spinnerPaisBandera.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.adapter.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.spinnerPepe.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.listViewPepe.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.enviarsms.MainActivity"
            android:exported="false" />
        <activity
            android:name=".PrimerTrimestre.spinnerCiudadEstadoObj.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.calendarAndVideoWidget.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.spinnerConversor.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.calculadorapasarDatosActivityResultadoAtras.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.calculadorapasarDatosActivityResultadoAtras.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ibipExtra.colorpicker.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ibipExtra.sharedPreferencesLogin.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.gridviewfrutas.GridItemActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.gridviewfrutas.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.gridlayoutButtons.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.pasarDatosEntreActivity.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.pasarDatosEntreActivity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.cicloVida.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.listviewcustom.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.listview.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.seleccion.MainActivity"
            android:exported="true" />
        <activity
            android:name=".ibipExtra.intro.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PrimerTrimestre.dialogos.DialogoActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.recyclerview.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.calculadora.MainActivity"
            android:exported="true" />
        <activity
            android:name=".PrimerTrimestre.webview.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".ibipExtra.ascreen.Main"
            android:exported="true" />
    </application>

</manifest>