<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".spinnerCiudadEstadoObj.MainActivity"
            android:exported="true" />
        <activity
            android:name=".calendarAndVideoWidget.MainActivity"
            android:exported="true" />
        <activity
            android:name=".spinnerConversor.MainActivity"
            android:exported="true" />
        <activity
            android:name=".pasarDatosActivityResultadoAtrasCalculadora.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".pasarDatosActivityResultadoAtrasCalculadora.MainActivity"
            android:exported="true" />
        <activity
            android:name=".colorpicker.MainActivity"
            android:exported="true" />
        <activity
            android:name=".sharedPreferencesLogin.MainActivity"
            android:exported="true" />
        <activity
            android:name=".gridviewfrutas.GridItemActivity"
            android:exported="true" />
        <activity
            android:name=".gridviewfrutas.MainActivity"
            android:exported="true" />
        <activity
            android:name=".gridlayoutButtons.MainActivity"
            android:exported="true" />
        <activity
            android:name=".pasarDatosEntreActivity.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".pasarDatosEntreActivity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".cicloVida.MainActivity"
            android:exported="true" />
        <activity
            android:name=".listviewcustom.MainActivity"
            android:exported="true" />
        <activity
            android:name=".listview.MainActivity"
            android:exported="true" />
        <activity
            android:name=".seleccion.MainActivity"
            android:exported="true" />
        <activity
            android:name=".intro.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dialogos.DialogoActivity"
            android:exported="true" />
        <activity
            android:name=".recyclerview.MainActivity"
            android:exported="true" />
        <activity
            android:name=".calculadora.MainActivity"
            android:exported="true" />
        <activity
            android:name=".webview.MainActivity2"
            android:exported="true" />
        <activity
            android:name=".ascreen.Main"
            android:exported="true" />
    </application>

</manifest>