<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ibip">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.example.ibip.colorpicker.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.sharedPreferencesLogin.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.gridviewfrutas.GridItemActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.gridviewfrutas.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.gridlayoutButtons.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.pasarDatosEntreActivity.MainActivity2"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.pasarDatosEntreActivity.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.cicloVida.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.listviewcustom.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.listview.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.seleccion.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.intro.Intro"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.ibip.dialogos.DialogoActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.recyclerview.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.calculadora.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.webview.MainActivity2"
            android:exported="true" />
        <activity
            android:name="com.example.ibip.ascreen.Main"
            android:exported="true">
        </activity>
    </application>

</manifest>